Q2.A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.

Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

In [1]:
import pandas as pd 
from scipy import stats

In [2]:
df = pd.read_csv("LabTAT.csv")
df.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [3]:
p_value = stats.f_oneway(df.iloc[:,0],df.iloc[:,1],df.iloc[:,2],df.iloc[:,3])
p_value

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [4]:
p_value[1]

2.1156708949992414e-57

INFERNCE: As (p-value = 0) < (Î± = 0.05)

So, we can say the Null hypothesis is rejected & Alternative hypothesis is accepted.
i.e. atleast one samplee TAT population mean is different, thus there is variance or difference in average turn around time (TAT) of reports of the laboratories on their perferred list.